{% extends "base.html.twig" %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<h1>Viviane Janer</h1>
			<h2>Developpeur Web</h2>
			<h3>Compétences</h3>
			<h3>Formations</h3>


		</div>
	</div>
{% endblock %}
